.sale {
    padding: 80px 0;
}
.sale--title {
    font-size: 14px;
    font-weight: 600;
    color: #f2890f;
    margin-bottom: 8px;
}
.sale--subtitle {
    font-size: 64px;
    font-weight: 800;
    color: #ffffff;
    margin-bottom: 28px;
}
