.hidden {
    display: none !important;
}
.form-overlay {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000a;
    backdrop-filter: blur(15px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.form {
    position: relative;
    width: 480px;
    max-width: 100%;
    background: linear-gradient(0deg, #141414 0%, #1f1d1d 100%);
    border-radius: 20px;
    padding: 70px 32px 48px;
    font-size: 14px;
    color: #fff;
}
.form--close {
    position: absolute;
    top: 28px;
    right: 28px;
    color: #A6A6A6;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    transition: .1s;
}
.form--close:hover {
    color: #eee;
}
.form--title {
    font-size: 40px;
    color: #fff;
    font-weight: 800;
    margin-bottom: 24px;
}
.form--input {
    width: 100%;
    border-radius: 6px;
    border: none;
    padding: 14px;
    font-size: 16px;
    background-color: #313131;
    color: #A6A6A6;
    margin-bottom: 32px;
}
.form--btn {
    color: #270B00;
    background-color: #FEC432;
    box-shadow: inset 0 0 5px #FFF6E000, 0 2px 20px rgba(254, 196, 50, 0.3);
    padding: 14px 40px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    transition: .1s;
    cursor: pointer;
    border: none;
    border-radius: 6px;
}
.form--btn:hover {
    color: #514321;
    box-shadow: inset 0 0 5px #FFF6E0ff, 0 2px 30px rgba(254, 196, 50, 0.5);
}
.form--fieldset {
    border: none;
    line-height: 1.4em;
    margin-bottom: 32px;
}
.form--checkbox {
    background-color: #FEC432;
    border: none;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    vertical-align: baseline;
}